<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://77.254.230.120:3306/chinesecheckers?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;sslMode=DISABLED&amp;allowPublicKeyRetrieval=true"/>
        <property name="username" value="USER"/>
        <property name="password" value="qwe123"/>
    </bean>

    <bean id="gameJDBCTemplate" class="appServer.connectionDB.GameJDBCTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="standardBoard" class="games.boards.StandardBoard"/>
    <bean id="moveOneRule" class="games.rules.MoveOneRule"/>
    <bean id="smallJumpRule" class="games.rules.SmallJumpRule"/>
    <bean id="finalCornerRule" class="games.rules.NotLeaveFinalCornerRule"/>

    <bean id="gameContext" class="games.GameContext">
        <property name="board" ref="standardBoard"/>
        <property name="rules">
            <list>
                <ref bean="smallJumpRule"/>
                <ref bean="moveOneRule"/>
                <ref bean="finalCornerRule"/>
            </list>
        </property>
    </bean>

    <bean id="game" class="appServer.Game">
        <property name="gameId" value="0"/>
        <property name="numberOfPlayers" value="0"/>
        <property name="gameContext" ref="gameContext"/>
        <property name="gameJDBCTemplate" ref="gameJDBCTemplate"/>
    </bean>

    <bean name="socket" class="java.net.Socket"/>

    <bean id="communicationService" class="appServer.ServerCommunicationService">
        <property name="playerId" value="0"/>
    </bean>



</beans>